<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Servlet -->
    <servlet>
        <servlet-name>CreerCompteServlet</servlet-name>
        <servlet-class>servlets.CreerCompteServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>CreerCompteServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/CreerCompteServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>servlets.ConnexionServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/ConnexionServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>DeconnexionServlet</servlet-name>
        <servlet-class>servlets.DeconnexionServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>DeconnexionServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/DeconnexionServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlets.ProfilServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>ModifierProfilServlet</servlet-name>
        <servlet-class>servlets.ModifierProfilServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ModifierProfilServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/ModifierProfilServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>SupprimerCompteServlet</servlet-name>
        <servlet-class>servlets.SupprimerCompteServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>SupprimerCompteServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/SupprimerCompteServlet</url-pattern>
    </servlet-mapping>

</web-app>