<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <error-page>
        <error-code>404</error-code>
        <location>/index.jsp</location>
    </error-page>

    <!-- Servlet -->
    <servlet>
        <servlet-name>CreerCompteServlet</servlet-name>
        <servlet-class>servlets.CreerCompteServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>CreerCompteServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/CreerCompteServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>servlets.ConnexionServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/ConnexionServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>DeconnexionServlet</servlet-name>
        <servlet-class>servlets.DeconnexionServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>DeconnexionServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/DeconnexionServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlets.ProfilServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>ModifierProfilServlet</servlet-name>
        <servlet-class>servlets.ModifierProfilServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ModifierProfilServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/ModifierProfilServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>SupprimerCompteServlet</servlet-name>
        <servlet-class>servlets.SupprimerCompteServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>SupprimerCompteServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/SupprimerCompteServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>AdminPannelServlet</servlet-name>
        <servlet-class>servlets.AdminPannelServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>AdminPannelServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/AdminPannelServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>SupprimerProfilUtilisateurServlet</servlet-name>
        <servlet-class>servlets.SupprimerProfilUtilisateurServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>SupprimerProfilUtilisateurServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/SupprimerProfilUtilisateurServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>ModifierProfilUtilisateurServlet</servlet-name>
        <servlet-class>servlets.ModifierProfilUtilisateurServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ModifierProfilUtilisateurServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/ModifierProfilUtilisateurServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>CreerActiviteServlet</servlet-name>
        <servlet-class>servlets.CreerActiviteServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>CreerActiviteServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/CreerActiviteServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>SupprimerActiviteServlet</servlet-name>
        <servlet-class>servlets.SupprimerActiviteServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>SupprimerActiviteServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/SupprimerActiviteServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>CreerLieuServlet</servlet-name>
        <servlet-class>servlets.CreerLieuServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>CreerLieuServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/CreerLieuServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>UpdatePlaceServlet</servlet-name>
        <servlet-class>servlets.UpdatePlaceServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>UpdatePlaceServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/UpdatePlaceServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>SupprimerPlaceServlet</servlet-name>
        <servlet-class>servlets.SupprimerPlaceServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>SupprimerPlaceServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/SupprimerPlaceServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet -->
    <servlet>
        <servlet-name>ModifierActiviteServlet</servlet-name>
        <servlet-class>servlets.ModifierActiviteServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ModifierActiviteServlet</servlet-name>
        <!-- correspond à l'url à charger depuis la racine -->
        <url-pattern>/ModifierActiviteServlet</url-pattern>
    </servlet-mapping>

</web-app>